<!doctype html>
<html>
    <head>
        <style>
            #heading {
                color: yellow;
                background: linear-gradient(to left, #fff, blue);
            }
        </style>
    </head>
    <body>
        <header>

            <nav>

            </nav>
            <h1 id = "heading">
                Hello, world!
            </h1>
            <%= JSON.stringify(data) %>
            <%= data.message %>

        </header>
    
        <footer>
        </footer>
    </body>
</html>